USE [master]
GO
/****** Object:  Database [ODS]    Script Date: 6/15/2026 9:27:20 AM ******/
CREATE DATABASE [ODS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Master_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Master_.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Master__log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Master__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ODS]
GO
/****** Object:  Table [dbo].[ODS]    Script Date: 6/15/2026 9:27:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODS](
	[order_id] [nvarchar](255) NULL,
	[order_date] [nvarchar](255) NULL,
	[ship_date] [nvarchar](255) NULL,
	[ship_mode] [nvarchar](255) NULL,
	[customer_name] [nvarchar](255) NULL,
	[segment] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[country] [nvarchar](255) NULL,
	[market] [nvarchar](255) NULL,
	[region] [nvarchar](255) NULL,
	[product_id] [nvarchar](255) NULL,
	[category] [nvarchar](255) NULL,
	[sub_category] [nvarchar](255) NULL,
	[product_name] [nvarchar](255) NULL,
	[sales] [nvarchar](255) NULL,
	[quantity] [nvarchar](255) NULL,
	[discount] [nvarchar](255) NULL,
	[profit] [nvarchar](255) NULL,
	[shipping_cost] [nvarchar](255) NULL,
	[order_priority] [nvarchar](255) NULL,
	[year] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
