USE [master]
GO
/****** Object:  Database [STG]    Script Date: 6/15/2026 9:28:31 AM ******/
CREATE DATABASE [STG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STG_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STG]
GO
/****** Object:  Table [dbo].[DIMCategory]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMCategory](
	[Cat_id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Sub_cat] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMCustomer]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMCustomer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_name] [nvarchar](100) NULL,
	[Segement] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMDate]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMDate](
	[Date_key] [int] NOT NULL,
	[Date] [date] NULL,
	[year] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[Quarter] [int] NULL,
	[Day_Name] [nvarchar](100) NULL,
	[Month_Name] [nvarchar](100) NULL,
	[Day_Of_Week] [int] NULL,
	[Week_No] [int] NULL,
	[is_weekend] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMLocation]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMLocation](
	[Loc_id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMarket]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMarket](
	[Market_Key] [int] IDENTITY(1,1) NOT NULL,
	[Market] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[Loc_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMOrder_Priority]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMOrder_Priority](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_priority] [nvarchar](100) NULL,
	[Ship_mode] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIMProduct]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMProduct](
	[Product_key] [int] IDENTITY(1,1) NOT NULL,
	[Product_name] [nvarchar](100) NULL,
	[Cat_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_OBT]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_OBT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [nvarchar](100) NULL,
	[order_date] [date] NULL,
	[ship_date] [date] NULL,
	[ship_mode] [nvarchar](100) NULL,
	[customer_name] [nvarchar](100) NULL,
	[segment] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
	[country] [nvarchar](100) NULL,
	[market] [nvarchar](100) NULL,
	[region] [nvarchar](100) NULL,
	[product_id] [nvarchar](100) NULL,
	[category] [nvarchar](100) NULL,
	[sub_category] [nvarchar](100) NULL,
	[product_name] [nvarchar](100) NULL,
	[sales] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
	[discount] [decimal](18, 2) NULL,
	[profit] [decimal](18, 2) NULL,
	[shipping_cost] [decimal](18, 2) NULL,
	[order_priority] [nvarchar](100) NULL,
	[year] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[STG_Date]    Script Date: 6/15/2026 9:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE    PROCEDURE [dbo].[STG_Date]
AS
BEGIN
    SET NOCOUNT ON;

    ---------------------------------------------------
    -- Variables
    ---------------------------------------------------
    DECLARE @StartDate DATE;
    DECLARE @EndDate DATE;

    ---------------------------------------------------
    -- Get Min/Max Dates from ODS_Table
    -- order_date and ship_date are NVARCHAR(150)
    ---------------------------------------------------
    SELECT
        @StartDate = DATEADD(YEAR, -5,
                        MIN(TRY_CONVERT(DATE, order_date))),
        
        @EndDate = DATEADD(YEAR, 5,
                        MAX(TRY_CONVERT(DATE, ship_date)))
    FROM STG_OBT;


    ---------------------------------------------------
    -- Generate Dates
    ---------------------------------------------------
    ;WITH DateCTE AS
    (
        SELECT @StartDate AS DateValue

        UNION ALL

        SELECT DATEADD(DAY, 1, DateValue)
        FROM DateCTE
        WHERE DateValue < @EndDate
    )

    ---------------------------------------------------
    -- Insert Into STG_Date
    ---------------------------------------------------
    INSERT INTO DIMDate
    (
        Date_key,
        Date,
        Year,
        Month,
        Day,
        Quarter,
        is_weekend,
        Day_Name,
        Month_Name,
        Day_Of_Week,
        Week_No
    )

    SELECT
        CONVERT(INT, FORMAT(DateValue, 'yyyyMMdd')) AS DateKey,

        DateValue                                   AS Date,

        YEAR(DateValue)                             AS Year,

        MONTH(DateValue)                            AS Month,

        DAY(DateValue)                              AS Day,

        DATEPART(QUARTER, DateValue)                AS Quarter,

        CASE
            WHEN DATENAME(WEEKDAY, DateValue) IN ('Friday', 'Saturday')
                THEN 1
            ELSE 0
        END                                         AS is_weekend,

        DATENAME(WEEKDAY, DateValue)                AS DayName,

        DATENAME(MONTH, DateValue)                  AS MonthName,

        DATEPART(WEEKDAY, DateValue)                AS DayofWeek,

        DATEPART(WEEK, DateValue)                   AS WeekNo

    FROM DateCTE
    OPTION (MAXRECURSION 0);

END;
GO
USE [master]
GO
