USE [master]
GO
/****** Object:  Database [DWH]    Script Date: 6/15/2026 9:29:09 AM ******/
CREATE DATABASE [DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DWH.mdf' , SIZE = 52288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DWH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWH]
GO
/****** Object:  Table [dbo].[DWH_Category]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Category](
	[Cat_ID] [int] NOT NULL,
	[category] [nvarchar](150) NULL,
	[sub_category] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_Customer]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Customer](
	[Customer_ID] [int] NOT NULL,
	[customer_name] [nvarchar](150) NULL,
	[segment] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_Date]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Date](
	[DateKey] [int] NULL,
	[Date] [date] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[Quarter] [int] NULL,
	[is_weekend] [int] NULL,
	[DayName] [nvarchar](150) NULL,
	[MonthName] [nvarchar](150) NULL,
	[DayofWeek] [int] NULL,
	[WeekNo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_Fact_Sales]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Fact_Sales](
	[fact_id] [int] IDENTITY(1,1) NOT NULL,
	[sales] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
	[discount] [decimal](18, 2) NULL,
	[profit] [decimal](18, 2) NULL,
	[shipping_cost] [decimal](18, 2) NULL,
	[OrderPeriority_ID] [int] NULL,
	[product_id] [int] NULL,
	[Ship_DateKey] [int] NULL,
	[Order_DateKey] [int] NULL,
	[Market_id] [int] NULL,
	[Customer_ID] [int] NULL,
	[Category_ID] [int] NULL,
	[Loc_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_Location]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Location](
	[Loc_id] [int] NOT NULL,
	[country] [nvarchar](150) NULL,
	[state] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_Market]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Market](
	[Market_id] [int] NOT NULL,
	[market] [nvarchar](150) NULL,
	[region] [nvarchar](150) NULL,
	[Loc_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_OrderPriority]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_OrderPriority](
	[OrderPeriority_ID] [int] NOT NULL,
	[order_priority] [nvarchar](150) NULL,
	[ship_mode] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWH_Product]    Script Date: 6/15/2026 9:29:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWH_Product](
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](150) NULL,
	[Cat_ID] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
